langgraph
langgraph-supervisor
langchain_core
langchain_openai
typing-extensions>=4.14.1
langchain-google-genai
langchain
langchain-mcp-adapters>=0.1.7
openai
langchain-community
tavily-python
python-dotenv
uvicorn
fastmcp
fastapi
langchain-ollama
llama-index
llama-index-llms-ollama
llama-index-llms-azure-inference>0.2.2
llama-index-llms-azure-openai
llama-index-embeddings-ollama
llama-index-embeddings-azure-openai
llama-index-vector-stores-postgres
psycopg2-binary
cryptography
sqlalchemy
azure-identity
starlette-oauth2-api>=0.2.6,<0.3.0
urllib3==2.5.0
deepagents
langgraph-cli[inmem]>=0.3.7,<0.4.0